html, body {
    margin:0px;
    padding: 0px;
    height: 100%;
    
}
@font-face {
    font-family: NatoSerif;
    src: url(fonts/NotoSerif-Bold.woff);
}
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-SemiBold.woff);
}
.titlu {
    font-family: 'NotoSerif';
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
}
.text {
    font-family: 'OpenSans';
}
.buton {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background-color: #0d0d0d;
    
    color: #fff;
    text-align: center;
    border-radius: 50px;
    width: 80%;
    }
 a:visited {
    text-decoration: none;
}   
.paragraf {
    font-family: 'OpenSans';
    padding-right: 5%;
    padding-left: 5%; 
    font-size: 17px;
    font-kerning: expanded;
    text-align: center;
    padding-top: 10%;

}
.subtitlu {
    text-align: right;
    padding-right: 10%;
    font-family: 'NotoSerif';
    font-size: 16px;
}
.textoverlay {
    color: #ffffff;
    font-family: 'OpenSans';

}



/* asta e pt navbar*/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    font-size: 16px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 4%;
    left: 85%;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 4%;
        right: 15%;
    }
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
span{
    font-size= 100px ;
}
.text 
{
    font-size=100px;
}
.myNav {
    font-size: 60px;
}
.backarrow {
    position:fixed;
    top: 2%;
    left: 10%;
    padding: 2px;
    font-size: 30px;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;

}
.back{
    position: absolute;
    top: 5%;
    left: 5%;

}
.par {
    text-align: left;
    padding-right: 3%;
    padding-left: 5%;
    padding-bottom: 5px; 
    font-family: 'OpenSans';
    font-size: 16px;
}

.par1 {
    text-align: left;
    padding-right: 3%;
    padding-left: 5%;
    padding-bottom: 5px; 
    font-family: 'OpenSans';
    font-size: 16px;
    color: white;
    text-align: center;
}
